<!-- templates/account/signup.html -->
{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'mainapp/navbar.html' %}








<br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h2 class="text-center">Sign Up</h2>
			<form method="post">
			  {% csrf_token %}
			  {{ form|crispy}}
			  <br>
			  <center><button type="submit" class="btn btn-success py-1 px-3">
			  	<span style="text-transform: uppercase;font-size: 10px;letter-spacing: 2px;">Sign Up</span></button></center>
			</form>
		</div>
		<div class="col-sm-3"></div>
	</div>
<br><br>
</div>
<br><br>
{% endblock content %}