{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/navbar.html' %}
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
        <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center">
                                <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Terms of Use</span></p> -->
                                <h1 class="mb-0 bread">TERMS OF USE</h1>
                        </div>
                </div>
        </div>
</div>
<div class="container">
        <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                        <br>
                        <h5><b>1. Product availability and pricing</b></h5>
                        <p>
                                Products shown are examples only and are subject to availability and price change by the
                                owner.
                                <b>WE (RENTALGO), DON'T OWN ANY ITEMS AT THE STORE.</b> We are merely providing a platform
                                on which users can lease/hire 
                                items on our store. We as RENTALGO have no control over price changes as it is the owner's
                                full decision on it.
                                RENTALGO does <b>NOT</b> offer insurance covers or warranties on the items displayed on our stores nor
                                do we validate the
                                quality of the item being leased.<b> RENTALGO only bridges</b> the gap between the
                                leasee and the owner for an
                                easier renting experience.
                        </p>

                        <br><br>
                        <h5><b>2. Your Conduct</b></h5>
                        <p>
                                You agree that you will not use the Website for any purpose that is unlawful and will
                                comply with all relevant laws and
                                regulations. In particular you agree you will not:<br><br>

                                (a) use the Website to send junk email, spam or chain letters or engage in unlawful
                                marketing such as pyramid schemes;<br><br>

                                (b) collect information of third parties by automated means (such as robots, spiders or
                                scrapers) without permission;<br><br>

                                (c) transmit or upload any material that contains viruses or any other harmful
                                code;<br><br>

                                (d) breach any laws or any copyright, patent, trade secret or other intellectual
                                property, proprietary or privacy rights
                                of any other party, or post any content that is copyright protected without the
                                copyright owner’s written permission to
                                use it;<br><br>

                                (e) interfere with, impair or disrupt the Website, or attempt to gain unauthorized
                                access to any accounts, systems,
                                services or information;<br><br>

                                (f) bully, stalk, abuse, intimidate, harass, cause distress or inconvenience to any
                                other person;<br><br>

                                (g) restrict or inhibit any other user from using or enjoying the Website;<br><br>

                                (h) post or supply for publication via the Website any false, inaccurate, misleading,
                                defamatory, discriminatory,
                                racist, threatening, violent, obscene, offensive, obscene, graphic, pornographic,
                                indecent, fraudulent or unlawful
                                material; or<br><br>

                                (i) misrepresent your identity or affiliation with any person or organization.<br><br>

                                RENTALGO reserves the right to take action as it deems appropriate in cases where the
                                Website is used in breach of
                                these Terms.<br><br>

                                To the fullest extent permitted by you, you indemnify RENTALGO including its related
                                companies, affiliates, licensors
                                and licensees, and its respective directors, officers, managements, employees, agents
                                and contractors from and against
                                all loss damage (including legal fees on a full indemnity basis), claims, demands,
                                suits, liabilities, proceedings or
                                actions that may arise or are incurred or suffered by you in connection with your use or
                                access of the Website or any
                                breach of these Terms.
                        </p>

                        <br><br>
                        <h5><b>3. Intellectual Property</b></h5>
                        <p>
                                All material and content on or via the Website including but not limited to any and all
                                brands, logos, images, taglines,
                                registered or unregistered trademarks, service marks, designs and products are
                                RENTALGO's property or the leasee's or its licensors’
                                property, and subject to copyright, trademark and other intellectual property
                                protection.
                                <br><br>
                                Unless otherwise indicated, all rights (including copyright) in all content, other
                                material and compilations contained
                                in, or used to create or support, the Website, including text, graphics, logos, button
                                icons, photos, video images,
                                audio clips, and navigational and other software are owned and controlled and are
                                reserved by RENTALGO or its
                                licensors.
                                <br><br>
                                You can copy material for your own personal use but you must not republish, copy,
                                reproduce, transmit, distribute, sell,
                                modify, adapt or use any part of the Website or any content on or via the Website in any
                                other way, without RENTALGO’s
                                permission or as otherwise expressly permitted by the Website.
                        </p>

                        <br><br>
                        <h5><b>4. Termination and Changes</b></h5>
                        <p>
                                RENTALGO may modify, suspend or discontinue the services available on the Website, or
                                remove, modify, edit or supplement
                                any of its content on the Website, at any time without notice in our absolute
                                discretion.
                                <br><br>
                                We may terminate or suspend a user’s access to any part or all of the Website at any
                                time, for any reason in our
                                discretion including breach of these Terms, with or without notice.
                                <br><br>
                                The liability and indemnity provisions provided in these Terms will survive termination
                                and all rights granted to us
                                herein are otherwise reserved.
                                <br><br>
                                Images are indicative and representational only and RENTALGO reserves the right to
                                replace, change, alter or
                                discontinue any item
                        </p>

                        <br><br>
                        <h5><b>5. Liabilty</b></h5>
                        <p>
                                You are responsible for your use of the Website. The Website is provided on an ‘as is’
                                basis and is used at your own risk.
                                While RENTALGO has used its best endeavors to ensure that the information we have provided
                                through the Website is correct and
                                current at the time of publication, we do not accept responsibility for any error,
                                omission or defect in the information.
                                <br><br>
                                To the fullest extent permissible by law, we do not, nor do our affiliated companies and
                                respective directors, employees,
                                agents and contractors: <br><br>
                                (a) make any representation, warranty or endorsement of any kind, express or implied, as
                                to the operation the Website,
                                your access to the Website or results of your access, or the information, content,
                                materials or products on the Website;
                                or <br><br>
                                (b) warrant that the functions on the Website will be uninterrupted or error-free, that
                                any defects will be corrected or that
                                the server which stores and transmits content to you is free of viruses or other harmful
                                components. <br>
                                Nothing in these Terms limits, excludes or modifies or purports to limit, exclude or
                                modify the statutory consumer guarantees as
                                provided under the Competition and Consumer Act, as well as any other implied warranties
                                or similar consumer protection laws in
                                the country of Kenya (“Non-Excludable Guarantees”). The limitations
                                outlined in these terms will not operate to
                                the extent that they are inconsistent with the Non-Excludable Guarantees. <br>
                                Except for any liability that cannot by law be excluded, including the Non-Excludable
                                Guarantees, to the fullest extent permitted by
                                law, RENTALGO, its officers, management, employees, agents and contractors, exclude all
                                terms, conditions, warranties, guarantees and
                                representations, whether express or implied, and exclude all liability in contract, tort
                                (including negligence), or otherwise for loss or
                                damage (whether direct or indirect) in relation to the use, inability to use, or
                                performance of the Website, any information, content, material,
                                products or services made available via the Website, including without limitation any
                                error, omission, technical malfunction, delay, interruption,
                                interference, tampering, virus, bug, theft, destruction or unauthorized access to or
                                alteration of the Website, or any damage to any computer or device.
                        </p>
                </div>
                <div class="col-sm-3"></div>
        </div>
</div>
<br><br>
{% endblock content %}